header {
    background-color: black;
    color: white;
  
}

.logoheader {
    text-align: center;
}

.menuu {
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    
}